{% extends 'index_master.html' %}
{% block content %}

{% load static %}
<div class="right_col" role="main">
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-th-list" ></i>Comunidades</h1>
                <p>Comunidades</p>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
              <li class="breadcrumb-item" ><i class="fa fa-home fa-lg"></i></li>
    
              <li class="breadcrumb-item active"><a href="#">Comunidades</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered" id="tb_comunidades">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre comunidad</th>
                                        <th>Tipo</th>
                                        <th>Direccion</th>
                                        <th>Conserje</th>
                                        <th>Fono</th>
                                        <th>N°unidad</th>
                                        <th>N°residentes</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in comunidades %}
                                   <tr>
                                    <td>{{item}}</td>
                                    <td>{{item.nombre_comunidades}}</td>
                                    <td>{{item.tipo_comunidades}}</td>
                                    <td>{{item.direccion_comunidades}}</td>
                                    <td>{{item.conserje_nombre}}</td>
                                    <td>{{item.fono_comunidades}}</td>
                                    <td>{{item.n_unidades}}</td>
                                    <td>{{item.n_residentes}}</td>
                                    <td>
                                        <button class='btn btn-sm btn-primary'><i class='fa-solid fa-pencil'></i></button>
                                        <button class='btn btn-sm btn-danger'><i class='fa-solid fa-trash-can'></i></button>
                                    </td>
                                   </tr>    
                                {% endfor %}   
                                </tbody>
                            </table>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </main>
</div>


{% endblock %}
