{% extends 'index_master.html' %}
{% block content %}
<div class="right_col" role="main">
    <h1>Editar propietarios</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <label for="nombre" class="col-4 col-form-label">Propietario</label> 
            <div class="col-8">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fas fa-id-badge"></i>
                </div> 

                
                <select id="id" name="id" class="form-control">
                {% for item in propietario %}
                  <option value="{{ item.id }}" {%if item.id == propietario.id %} selected {% endif %}>{{ item.id }}</option>
                {% endfor %}
            </select>
                
              </div>
            </div>
          </div>
        <div class="form-group row">
          <label for="text" class="col-4 col-form-label">Rut Propietario</label> 
          <div class="col-8">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-address-card"></i>
                </div>
              </div> 
              <input id="rutP" name="rutP" type="text" class="form-control" required="required" value="{{propietario.rut_propietario}}">
            </div>
          </div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label" for="tipoC">Tipo Unidad</label> 
            <div class="col-8">
              <select id="tipoU" name="tipoU" class="custom-select" required="required" value="{{propietario.tipo_unidad}}">
                <option value="Condiminio">Casa</option>
                <option value="Edificio">Departamento</option>
              </select>
            </div>
          </div>
        <div class="form-group row">
          <label for="DireccionComunidad" class="col-4 col-form-label">Direccion</label> 
          <div class="col-8">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-building-o"></i>
                </div>
              </div> 
              <input id="DireccionPropietario" name="DireccionPropietario" type="text" class="form-control" required="required" value="{{propietario.direccion}}">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="ConserjeID" class="col-4 col-form-label">Rut residente</label> 
          <div class="col-8">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-male"></i>
                </div>
              </div> 
              <input id="rutR" name="rutR" type="text" class="form-control" required="required" value="{{propietario.rut_residente}}">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="FonoComunidad" class="col-4 col-form-label">Telefono Propietario</label> 
          <div class="col-8">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-phone"></i>
                </div>
              </div> 
              <input id="FonoPropietario" name="FonoPropietario" type="number" class="form-control" required="required" value="{{propietario.telefono_propietario}}">
            </div>
          </div>
        </div>
        <div class="form-group row">
            <label class="col-4 col-form-label" for="tipoC">Estado</label> 
            <div class="col-8">
              <select id="estado" name="estado" class="custom-select" required="required" value="{{propietario.estado}}">
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
              </select>
            </div>
        </div>
        <div class="form-group row">
          <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </div>
      </form>
</div>

{% endblock %}