{% extends 'index_master.html' %}
{% block content %}

{% load static %}
<div class="right_col" role="main">
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-th-list" ></i>Propietarios</h1>
                <p>Propietarios</p>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
              <li class="breadcrumb-item" ><i class="fa fa-home fa-lg"></i></li>
    
              <li class="breadcrumb-item active"><a href="#">Propietarios</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered" id="tb_propietarios_ID">
                                <thead>
                                    <tr>
                                        <th>RUT</th>
                                        <th>Tipo</th>
                                        <th>Direccion</th>
                                        <th>Residente(Rut)</th>
                                        <th>Telefono</th>
                                        <th>Estado</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <tr>
                                    <td>{{propietario.rut_propietario}}</td>
                                    <td>{{propietario.tipo_unidad}}</td>
                                    <td>{{propietario.direccion}}</td>
                                    <td>{{propietario.rut_residente}}</td>
                                    <td>{{propietario.telefono_propietario}}</td>
                                    <td>{{propietario.estado}}</td>
                                    <td>
                                        <button class='btn btn-sm btn-primary'><i class='fa-solid fa-pencil'></i></button>
                                        <button class='btn btn-sm btn-danger'><i class='fa-solid fa-trash-can'></i></button>
                                    </td>
                                   </tr>      
                                </tbody>
                            </table>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </main>
</div>


{% endblock %}