{% extends 'index_master.html' %}
{% block content %}

{% load static %}
<div class="right_col" role="main">
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-th-list" ></i>Residentes Temporales</h1>
                <p>Residentes Temporales</p>
            </div>
            <ul class="app-breadcrumb breadcrumb side">
              <li class="breadcrumb-item" ><i class="fa fa-home fa-lg"></i></li>
    
              <li class="breadcrumb-item active"><a href="#">Residentes Temporales</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered" id="tb_residentes_temporales">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Rut Residente</th>
                                        <th>Tipo</th>
                                        <th>Direccion</th>
                                        <th>Numero Recinto</th>
                                        <th>Rut propietario</th>
                                        <th>Telefono Residente</th>
                                        <th>Estado</th>
                                        <th>Fecha Inicio</th>
                                        <th>Fecha Fin</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in residenteT %}
                                   <tr>
                                    <td>{{item}}</td>
                                    <td>{{item.rut_residenteT}}</td>
                                    <td>{{item.tipo_unidad_residenteT}}</td>
                                    <td>{{item.direccionT}}</td>
                                    <td>{{item.n_recintoT}}</td>
                                    <td>{{item.rut_propietarioT}}</td>
                                    <td>{{item.telefono_residentTe}}</td>
                                    <td>{{item.estado_rT}}</td>
                                    <td>{{item.fecha_inicio}}</td>
                                    <td>{{item.fecha_fin}}</td>
                                    <td>
                                        <button class='btn btn-sm btn-primary'><i class='fa-solid fa-pencil'></i></button>
                                        <button class='btn btn-sm btn-danger'><i class='fa-solid fa-trash-can'></i></button>
                                    </td>
                                   </tr>    
                                {% endfor %}   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


{% endblock %}